@charset "utf-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,input,button,textarea,option
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {margin:0; padding:0; border:0; font:inherit;}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {display:block;}




html {overflow-y:scroll; font-size:62.5%;}
body {position:relative; width:100%; font-size:13px; letter-spacing:-1px;}
body,input,button,textarea,select,option {color:#161519; font-weight:400;} 
h1,h2,h3,h4,h5,h6 {font-size:14px;}

img, fieldset{border:0;}
i,em,address {font-style:normal;}
ol, ul {list-style:none;}
blockquote, q {quotes:none;}
blockquote:before, blockquote:after, q:before, q:after {content:'';}
table {border-collapse:collapse; table-layout:fixed; width:100%;}
th, td {margin:0; padding:0; font-size:13px;}
input, label {border:0; vertical-align:middle;}
input {outline:none;}
label {cursor:pointer;}
input[type='checkbox'], input[type='radio'] {width:13px; height:13px;}
input[type='submit'], input[type='image'] {cursor:pointer;}
input[type='checkbox'] {border:1px solid #ddd;}
input[type='password'],
input[type='file'] {border:1px solid #ddd; background:#fff; padding:2px; font-size:13px;}
input[type='text'] {-webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box; border:1px solid #ddd; font-size:13px;}
input[type='number'] {-webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box; border:1px solid #ddd; font-size:13px;}
input:-webkit-autofill {-webkit-box-shadow: 0 0 0 1000px white inset;}
textarea {box-sizing:border-box; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; padding:5px; border:1px solid #ddd; font-size:13px;}
textarea:hover,  input:hover,  textarea:active, input:active, textarea:focus, input:focus, button:focus, button:active, button:hover {outline:0 !important;}
a {color:#161519; text-decoration:none;}
hr {display:none;}

::-webkit-input-placeholder {color:#666;}
::-moz-placeholder {color:#666;}
:-ms-input-placeholder {color:#666 !important;}
::-ms-input-placeholder {color:#666 !important;}
:-moz-placeholder {color:#666;}
::placeholder {color:#666;}
.placeholdersjs {color:#666;}

.hidden, .blind, legend {display:none !important; overflow:hidden; position:absolute; top:-1000em; left:0;}
caption {display:none;}
legend {font:0/0 a;}
.dummy {*zoom:1;}
.table_fixed {table-layout:fixed;}
.nobr {overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}
.cur_P {cursor:pointer;}
.cut-text {overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}
.strike {text-decoration:line-through;}
.underline {text-decoration:underline;}
.word_break {word-break:break-all;}
.c_class {font:0/0 a;}
.show {display:block;}
.hidden {display:none;}
.clear-after:after {content:''; display:block; clear:both;}
select {border:0;}

/* skip navigation */
.skip {display:block;}
.skip a {display:block; position:absolute; left:0; top:-1000em; z-index:9999; width:100%; background-color:navy; color:yellow; font-size:15px; font-weight:bold; text-align:center;}
.skip a:hover,.skip a:active,.skip a:focus {top:0; padding:20px 0;}

/* no Development */
.no-dev {background:rgba(58,60,188,.4) !important;}

/* clearfix */
.clearfix:after {content:''; display:block; clear:both; }
/**********************************
			facebox.css
**********************************/
#facebox {/*position:absolute; top:0; left:0;*/ z-index:500; background:#fff;}
#facebox .popup {display:inline; position:relative; float:left; /*border:3px solid rgba(0,0,0,0); -webkit-border-radius:5px; -moz-border-radius:5px; border-radius:5px; -webkit-box-shadow:0 0 18px rgba(0,0,0,0.4); -moz-box-shadow:0 0 18px rgba(0,0,0,0.4); box-shadow:0 0 18px rgba(0,0,0,0.4);*/}
#facebox .content {/*display:table; float:left; padding:0; border-radius:4px; -webkit-border-radius:4px; -moz-border-radius:4px; background:#fff;*/}
#facebox .popup .popup_title {background:#000 !important; overflow:hidden; height:46px;}
#facebox .popup .popup_title h1 {float:left; color:#fff; line-height:46px; margin-left:20px;}
#facebox .popup .popup_title .btn-close-layer {float:right; cursor:pointer;}
#facebox .content > p:first-child {margin-top:0;}
#facebox .content > p:last-child {margin-bottom:0;}
#facebox .close {display:none !impotant; position:absolute; top:0; right:0; width:46px; height:46px;}
#facebox facebox_close_btn {display:none !impotant;}
#facebox .close img {display:none;}
#facebox .close:hover img {opacity:1.0; filter:alpha(opacity=100);}
#facebox .loading {text-align:center;}
#facebox .image {text-align:center;}
#facebox img {margin:0; border:0;}
#facebox_overlay {position:fixed; top:0; right:0; bottom:0; left:0;width:100%; height:100%;}
.facebox_hide {z-index:-100;}
.facebox_overlayBG {z-index:99; background-color:#000;}

/**********************************
			selectbox.css
**********************************/
/* Drop down styles*/
div.selectbox-wrapper {display:block; overflow:auto; position:absolute; left:-1px; /* *left:0px; 인 것을 *right:0px; 로 고침 kbk */ *right:0px; z-index:1000; width:100% !important; max-height:250px; margin:0; padding:0; border:1px solid #ccc; background-color:white; text-align:left;}
/*Drop down list styles*/
div.selectbox-wrapper ul {margin:0; padding:0; list-style-type:none;}
/* Selected item in dropdown list*/
div.selectbox-wrapper ul li.selected {background-color:#eaf2fb;}
/* Hover state for dropdown list */
div.selectbox-wrapper ul li.current {background-color:#cdd8e4;}
/* Drop down list items style*/
div.selectbox-wrapper ul li {display:block; float:none; margin:0; padding:2px 2px 2px 9px; font-size:12px;/* Resize Font*/  font-weight:normal; cursor:pointer;}
/* Look and feel of select box */
.search_selectbox {display:block; width:119px; /* Resize Width */ height:20px; margin:0; padding:5px 0 0 2px; border:0; background:#fff url('bg_select.png') no-repeat 15% right; color:#333; font-size:12px;/* Resize Font*/   cursor:pointer;}
.selectbox_new {display:block; overflow:hidden; box-sizing:border-box; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; z-index:-1; margin:0; padding:5px 23px 5px 9px; *padding:5px 23px 2px 9px;  background:url('../images/common/select_bt03.png') no-repeat right center; color:#7b7b7b; font-size:12px;/* Resize Font*/ text-align:left;  text-overflow:ellipsis; white-space:nowrap; cursor:pointer;}
.selectbox {display:block; overflow:hidden; box-sizing:border-box; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; z-index:-1; margin:0; padding:9px 23px 10px 9px; padding:4px 0px 4px 9px \9; background:url('../images/common/select_bt03.png') no-repeat right center; color:#7b7b7b; font-size:12px;/* Resize Font*/ text-overflow:ellipsis; white-space:nowrap; text-align:left; cursor:pointer;}
.selectbox2 {display:block; overflow:hidden; box-sizing:border-box; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; z-index:-1; margin:0; padding:9px 23px 10px 9px; padding:4px 0px 4px 9px \9; background:url('../images/common/selectbox2.png') no-repeat right center; color:#555; font-size:12px;/* Resize Font*/ text-overflow:ellipsis; white-space:nowrap; text-align:left; cursor:pointer;}
.selectbox3 {display:block; overflow:hidden; box-sizing:border-box; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; z-index:-1; margin:0; padding:9px 23px 10px 9px; padding:4px 0px 4px 9px \9; border:1px solid #e1e1e1; background:#fff url('../images/common/selectbox2.png') no-repeat right center; color:#555; font-size:12px;/* Resize Font*/ text-overflow:ellipsis; white-space:nowrap; text-align:left; cursor:pointer;}
.selectbox4 {display:block; overflow:hidden; box-sizing:border-box; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; z-index:-1; margin:0; padding:6px 23px 6px 9px; padding:4px 0px 9px 9px \9; background:url('../images/common/select_bt03.png') no-repeat right center; color:#7b7b7b; font-size:12px;/* Resize Font*/ text-overflow:ellipsis; white-space:nowrap; text-align:left; cursor:pointer;}
.inputbox_select05 .selectbox {display:block; z-index:-1; margin:0; padding:6px 0px 5px 9px; padding:7px 0px 4px 9px \9; background:url('../images/common/select_bt04.png') no-repeat right center; color:#7b7b7b; font-size:12px;/* Resize Font*/  text-align:left; cursor:pointer;}
.inputbox_select02 .selectbox {display:block; z-index:-1; margin:0; padding:7px 0px 4px 9px; padding:7px 0px 4px 9px \9; background:url('../images/common/select_bt04.png') no-repeat right center; color:#7b7b7b;  font-size:12px;/* Resize Font*/ text-align:left; cursor:pointer;}
.selectbox_phone {display:block; width:59px; /* Resize Width */ height:20px; margin:0; padding:5px 0 0 2px; border:0; background:url('bg_select.png') no-repeat 15% right; color:#333; font-size:12px;/* Resize Font*/  text-align:left; cursor:pointer;}
.selectbox_yyyy {display:block; width:59px; /* Resize Width */ height:20px; margin:0; padding:5px 0 0 2px; border:0; background:url('bg_select.png') no-repeat 15% right; color:#333; font-size:12px;/* Resize Font*/text-align:left; cursor:pointer;}
.selectbox_mm {display:block; width:40px; /* Resize Width */ height:20px; margin:0; padding:5px 0 0 2px; border:0; background:url('bg_select.png') no-repeat 15% right; color:#333; font-size:12px;/* Resize Font*/  text-align:left;  cursor:pointer;}
.selectbox_dd {display:block; width:40px; /* Resize Width */ height:20px; margin:0; padding:5px 0 0 2px; border:0; background:url('bg_select.png') no-repeat 15% right; color:#333; font-size:12px;/* Resize Font*/  text-align:left;  cursor:pointer;}
.chapter_selectbox {display:block; width:319px; /* Resize Width */ height:20px; margin:0; padding:5px 0 0 2px; border:0; background:url('bg_select.png') no-repeat 15% right; color:#333; font-size:12px;/* Resize Font*/  text-align:left; cursor:pointer;}
.selectbox_main {display:block; float:left; z-index:-1; margin:0; padding:0; background:url('../images/select_bt02.png') no-repeat right top; color:#7b7b7b; font-size:12px;/* Resize Font*/ cursor:pointer;}
.search_text_box .selectbox-wrapper {display:block; overflow:auto; position:absolute; top:10px; left:-13px; /* *left:0; 인 것을 *right:0; 로 고침 kbk */ *right:0; z-index:1000; width:83px !important; max-height:250px; margin:0; padding:0; border:1px solid #ccc; background-color:white; text-align:left;}


/* jQuery FlexSlider v2.6.0 */
.flex-container a:hover, .flex-slider a:hover {outline:none;}
.slides, .slides > li, .flex-control-nav, .flex-direction-nav {margin:0; padding:0; list-style:none;}
.flex-pauseplay span {text-transform:capitalize;}

/* base styles */
.flexslider {margin:0; padding:0;}
.flexslider .slides > li {display:none; -webkit-backface-visibility:hidden;}
.flexslider .slides img {display:block; width:100%;}
.flexslider .slides:after {content:"\0020"; display:block; clear:both; visibility:hidden; height:0; line-height:0;}
html[xmlns] .flexslider .slides {display:block;}
* html .flexslider .slides {height:1%;}
.no-js .flexslider .slides > li:first-child {display:block;}


/**********************************
			Title
**********************************/
.title-top {position:relative;margin:53px 0 46px 0;text-align:center}
.title-top {position:relative;margin:53px 0 46px 0;text-align:center}
.title-top:before{display:block;content:'';width:60px;height:1px;background:#000;position:absolute;bottom:5px;left:0;margin-top:-1px;}
.title-top .title-box h2, .title-top .title-box .title{font-size:50px; font-weight:700;color:#000;line-height:1}
.title-top .more{position:absolute;bottom:5px;right:0;font-size:14px;padding:0 17px 8px 5px;line-height:1;font-weight:700}
.title-top .more:after{display:block;content:'';width:100%;height:1px;background:#000;position:absolute;left:0;bottom:0}
.title-top .more:before{display:block;content:'';width:6px;height:9px;background:url(../images/common/arr_more.png) no-repeat;position:absolute;top:3px;right:5px}
.title-top .title-option {position:absolute;bottom:5px;right:0;}
.title-option .option-box {position:relative;}
.title-option .option-box ul {position:absolute; top:20px; right:0; background:#fff; text-align:left; border:1px solid #ccc; min-width:65px; padding:5px 10px; z-index:10; display:none;}
.title-option .option-box ul.on {display:block;}
.title-option .option-box ul li {padding:4px 0;}
.title-option .option-box ul li a {display:block;color:#999;}
.title-option .option-box ul li a:hover {color:#333;}
.title-option .option-box > a {font-size:13px; padding:0 17px 8px 5px; line-height:13px; font-weight:700; color:#333; display:block;}
.title-option .option-box > a:after{display:block;content:'';width:100%;height:1px;background:#000;position:absolute;left:0;bottom:0}
.title-option .option-box > a:before{display:block;content:'';width:9px;height:5px;background:url(../images/common/arrow_down02.png) no-repeat;position:absolute;top:3px;right:5px}

.title-top.sub .title-box h2, .title-top.sub .title-box .title{font-size:30px;}
.title-top.sub .more{}


/* 사업자회원가입 팝업 */
.operators_pop {padding:17px;}
.operators_pop1 {margin-bottom:24px;}
.operators_pop1:after {content:''; display:block; clear:both;}
.operators_pop1 h2 {margin-top:3px; float:left; font-size:16px; font-weight:bold; color:#000;}
.operators_pop1 a {float:right;}
.operators_nunber {margin-bottom:14px; font-size:14px; color:#000;}
.operators_nunber span {color:#b99c61; text-decoration:underline;}
.my_info_table {border-top:1px solid #000;}
.my_info_table th,
.my_info_table td {padding:14px 0 14px 20px; border-bottom:1px solid #ccc;}
.my_info_table th {text-align:left; background:#f8f8f8;}
.operators_contant dd {margin:30px 0; text-align:center;}
.operators_contant dd a.sub_k_buttom.buttom_m {position:relative; top:1px;}

.wrap-line-tit {margin-bottom:50px; padding-left:15px;}
.wrap-line-tit h3 {font-size:15px; font-weight:800; color:#000; margin:0; padding:0;}
.wrap-line-tit:after {content:''; display:block; clear:both;}